.App {
  text-align: center;
  background-color: #ffffff;
}


.Avatar-logo {
  height: 35vmin;
  pointer-events: none;
  margin-bottom: -4rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  /* margin-left: -15rem; */
  /* align-items: center; */
  /*justify-content: center;  /*this centers it vertically*/
  font-size: 5rem;
  font-family:"DM Sans";
  color: rgb(0, 0, 0);
}


.text-blue {
  color: #2A82C1;
}

.subheading{
  display:flex;
  flex-direction: column;
  font-size: 3rem;
  font-family: "DM Sans";
  color: #737373;
  margin-top: 1rem;
  /* align-self: flex-start; */
  /* text-align: left; */
  /* margin-left: 17rem; */
}
/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
