.projects{
    width:100vw;
    display: flex;
    flex-direction: column;
}


.title{
    font-family: 'DM Sans';
    color: black;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project-card {
    border: 1px solid #ddd;
    text-decoration: none; /* Remove underline */
    color: inherit;
    transition: transform 0.2s ease;
    display: block;
    border-radius: 20px;
    padding: 20px;
    width: 600px;
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .project-content {
    padding: 10px 0;
  }
  
  .project-content h2 {
    margin: 0 0 10px;
    font-family: "DM SANS";
  }
  
  .project-content p {
    margin: 5px 0;
    font-family: "DM Sans";
  }
  
  .project-content ul {
    list-style: none;
    padding: 0;
  }
  
  .project-content ul li {
    display: inline-block;
    background-color: #2A82C1;
    color: #fff;
    font-family: "DM Sans";
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px 5px 0 0;
  }
  
  .project-content a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .project-content a:hover {
    text-decoration: underline;
  }
  