.projects{
    width:100vw;
    display: flex;
    flex-direction: column;
}


.title{
    font-family: 'DM Sans';
    color: black;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: -1rem;
}